<h1>プロフィール</h1>
<ul>
<li>名前:<%= @user.name %></li>
<li>メールアドレス:<%= @user.email %></li>
<li>プロフィール画像:<%= image_tag @user.profimage.url %></li>
</ul>

<p><%= link_to "編集する" ,edit_user_path(@user.id) %></p>
<p><%= link_to "新規投稿画面へ", new_instagram_path %></p>
