<h1>お気に入り一覧</h1>
  <div class="panel panel-default">
    <% @user_fav.each do |favorite| %>
  <div class="panel panel-header">
    <h4>投稿者<%= image_tag favorite.user.profimage,size:"25x25"%><%= favorite.instagram.user.name %></h4>
  </div>
    <p>画像:<%= image_tag favorite.instagram.image.url %></p>
    <p>内容<%= favorite.instagram.content %></p>
    <% end %>
  </div>
<%= link_to "投稿一覧へ戻る",instagrams_path %>
