<h1>ログイン画面</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class = "user_login">
  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>
</div>
<div class = "user_login">
  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password %>
</div>
  <%= f.submit "ログイン" %>
<% end %>
